Repository ProjectCoco/coco, pull requests merged in 2022-07, with the labels that each got.

#107 FE: ErrorText style 수정
  frontend/src/pages/Signup/style.ts
Labels: FrontEnd, feature

#108 FE : 11th week weekly
  frontend/package-lock.json
  frontend/package.json
  frontend/src/PrivateRouter.tsx
  frontend/src/Router.tsx
  frontend/src/apis/apiClient.ts
  frontend/src/components/AccessWarning/AccessWarning.tsx
  frontend/src/components/AccessWarning/index.tsx
  frontend/src/components/AccessWarning/style.ts
  frontend/src/components/DropDownMenu/DropDownMenu.tsx
  frontend/src/components/DropDownMenu/index.tsx
  frontend/src/components/FreeBoardContentBox/FreeBoardContentBox.tsx
  frontend/src/components/FreeBoardContentBox/index.tsx
  frontend/src/components/FreeBoardContentBox/style.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/index.tsx
  frontend/src/images/BasiceAvatar.png
  frontend/src/images/Toast_succes.png
  frontend/src/images/fail.png
  frontend/src/lib/atom.tsx
  frontend/src/lib/types/index.ts
  frontend/src/lib/validation/loginhandleValidation.ts
  frontend/src/pages/FreeBoard/FreeBoard.tsx
  frontend/src/pages/FreeBoard/index.tsx
  frontend/src/pages/FreeBoard/style.ts
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/Signup/Signup.tsx
  frontend/src/pages/Signup/style.ts
  frontend/src/pages/UserProfile/UserProfile.tsx
  frontend/src/pages/UserProfile/index.tsx
  src/.DS_Store
Labels: FrontEnd, feature

#116 FE : "UserProfileAPI 연결 RightSideBar API 연결"
  frontend/src/components/ContentLayout/Right/RightMenubar.tsx
  frontend/src/components/ContentLayout/Right/style.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/NaviHeader/NaviHeader.tsx
  frontend/src/pages/UserProfile/UserProfile.tsx
Labels: FrontEnd, feature

#118 Feat : "수정 유저 프로필 객체 프로퍼티"
  frontend/src/pages/UserProfile/UserProfile.tsx
Labels: FrontEnd, feature

#119 FE: BoardWrite 페이지 파일 분리, 태그 기능 추가, 글 수정 페이지 생성
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/BoardEdit/index.tsx
  frontend/src/pages/BoardEdit/style.ts
  frontend/src/pages/BoardWrite/BoardWrite.tsx
  frontend/src/pages/BoardWrite/index.tsx
  frontend/src/pages/BoardWrite/style.ts
Labels: FrontEnd

#120 FE: #102 #103 #113 #114
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/apis/apiClient.ts
  frontend/src/apis/types.ts
  frontend/src/components/BoardContentBox/BoardContentBox.tsx
  frontend/src/components/BoardContentBox/style.ts
  frontend/src/components/Comment/Comment.tsx
  frontend/src/components/Comment/index.tsx
  frontend/src/components/Comment/style.ts
  frontend/src/components/ContentLayout/Left/LeftMenubar.tsx
  frontend/src/components/ContentLayout/Right/RightMenubar.tsx
  frontend/src/components/ContentLayout/Right/style.ts
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/components/NaviHeader/NaviHeader.tsx
  frontend/src/lib/atom.tsx
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/BoardEdit/index.tsx
  frontend/src/pages/BoardEdit/style.ts
  frontend/src/pages/BoardWrite/BoardWrite.tsx
  frontend/src/pages/BoardWrite/index.tsx
  frontend/src/pages/BoardWrite/style.ts
  frontend/src/pages/MyFavorPage/MyFavorPage.tsx
  frontend/src/pages/MyFavorPage/index.tsx
  frontend/src/pages/MyFavorPage/style.ts
  frontend/src/pages/StudyBoard/StudyBoard.tsx
  frontend/src/pages/StudyBoardDetail/StudyBoardDetail.tsx
  frontend/src/pages/StudyBoardDetail/components/Body.tsx
  frontend/src/pages/StudyBoardDetail/components/Header.tsx
  frontend/src/pages/StudyBoardDetail/style.ts
  frontend/src/pages/UserProfile/UserProfile.tsx
Labels: FrontEnd

#123 FE : "로그인 유저 정보 조회 추가 , 유저 네임 중복 체크 로직 연결"
  frontend/src/components/ContentLayout/Right/RightMenubar.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/UserProfile/UserProfile.tsx
Labels: FrontEnd, feature

#125 FE: 글 수정페이지 오류 수정 및 api 모듈 분리
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/Signup/Signup.tsx
Labels: FrontEnd

#128 FE: #124 외(merge to master branch)
  frontend/src/App.tsx
  frontend/src/apis/apiClient.ts
  frontend/src/apis/types.ts
  frontend/src/components/ContentLayout/Right/RightMenubar.tsx
  frontend/src/components/Login/LoginForm.tsx
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/pages/Signup/Signup.tsx
  frontend/src/pages/UserProfile/UserProfile.tsx
Labels: FrontEnd

#130 Refresh Token 로직 추가
  build.gradle
  frontend/src/apis/apiClient.ts
  frontend/src/components/DropDownMenu/DropDownMenu.tsx
  frontend/src/components/Login/LoginForm.tsx
  src/main/java/com/codestates/coco/common/ErrorCode.java
  src/main/java/com/codestates/coco/user/config/RedisConfig.java
  src/main/java/com/codestates/coco/user/config/RedisUtil.java
  src/main/java/com/codestates/coco/user/config/SecurityConfig.java
  src/main/java/com/codestates/coco/user/controller/UserController.java
  src/main/java/com/codestates/coco/user/domain/UserProfileDTO.java
  src/main/java/com/codestates/coco/user/jwt/JwtAuthenticationFilter.java
  src/main/java/com/codestates/coco/user/jwt/JwtAuthorizationFilter.java
  src/main/java/com/codestates/coco/user/jwt/JwtProperties.java
  src/main/java/com/codestates/coco/user/jwt/JwtProvider.java
  src/main/java/com/codestates/coco/user/service/UserService.java
Labels: FrontEnd, BackEnd, feature

#132 FE: favor기능제외 게시판 기능 안정화
  frontend/src/components/Comment/Comment.tsx
  frontend/src/pages/StudyBoard/StudyBoard.tsx
  frontend/src/pages/StudyBoard/style.ts
  frontend/src/pages/StudyBoardDetail/StudyBoardDetail.tsx
  frontend/src/pages/StudyBoardDetail/components/Body.tsx
  frontend/src/pages/StudyBoardDetail/components/Header.tsx
  frontend/src/pages/StudyBoardDetail/style.ts
Labels: FrontEnd, feature

#136 FE: 404페이지 라우터 연결, 게시글 수정 접근 제한 기능 추가, 글작성 및 글 수정 페이지 CSS 수정
  frontend/src/Router.tsx
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/BoardEdit/style.ts
  frontend/src/pages/BoardWrite/style.ts
Labels: FrontEnd

#137 FE: #129 #131 외
  frontend/src/Router.tsx
  frontend/src/components/Comment/Comment.tsx
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/BoardEdit/style.ts
  frontend/src/pages/BoardWrite/style.ts
  frontend/src/pages/StudyBoard/StudyBoard.tsx
  frontend/src/pages/StudyBoard/style.ts
  frontend/src/pages/StudyBoardDetail/StudyBoardDetail.tsx
  frontend/src/pages/StudyBoardDetail/components/Body.tsx
  frontend/src/pages/StudyBoardDetail/components/Header.tsx
  frontend/src/pages/StudyBoardDetail/style.ts
Labels: FrontEnd

#141 Feat: "웹팩 설치"
  frontend/.babelrc
  frontend/.eslintrc
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/StudyBoard/StudyBoard.tsx
  frontend/tsconfig.json
Labels: FrontEnd, feature

#143 FE : "Scroll Top , Error Messege"
  frontend/src/Router.tsx
  frontend/src/apis/apiClient.ts
Labels: FrontEnd, feature

#144 FE: 글 수정 페이지 태그 기능 추가, 글 쓰기 페이지 태그 기능 오류 수정
  frontend/src/apis/types.ts
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/BoardWrite/BoardWrite.tsx
Labels: FrontEnd

#145 FE: #141 외
  frontend/.babelrc
  frontend/.eslintrc
  frontend/config/webpack.common.js
  frontend/config/webpack.dev.js
  frontend/config/webpack.prod.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/apis/apiClient.ts
  frontend/src/apis/types.ts
  frontend/src/pages/BoardEdit/BoardEdit.tsx
  frontend/src/pages/BoardWrite/BoardWrite.tsx
  frontend/src/pages/StudyBoard/StudyBoard.tsx
  frontend/tsconfig.json
Labels: FrontEnd
